<h1>Admin Dashboard</h1>
<div class="panel panel-default products">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product count</th>
      <th>Category count</th>
    </tr>
  </thead>
  <tbody>
  <tr>
<td>
<%= @product_count %>
</td>

<td><%= @category_count %></td></tr>

  </tbody>
</table>

</div>
